<h1>Sähkön tuntihinnat seuraavalle 24 tunnille</h1>

<table>
    <tr>
        <th>Tunti</th>
        <th>Hinta (snt/kWh)</th>
    </tr>
    <tr>
        <td>{{hour}}</td>
        <td>{{price}}</td>
    </tr>
</table>