<p>Tämä on testiaikainen kotisivu, jossa on simuloitua dataa</p>
<h1>Sähkö on nyt kallista</h1>
<h1 class="expensive">{{price}} snt/kWh</h1>
<h2>Tuuli {{wind}} m/s</h2>
<h2>Lämpötila {{temperature}} °C</h2>
