<div>
  <canvas id="chartJSv4" style="width:50vw;max: width 600px;"></canvas>
</div>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
{{!-- Script will create arrays from rendered JSON data and build a chartJS version 4 bar chart using those arrays --}}
<script>
  const placeholder = document.getElementById('chartJSv4');
  const renderedHourArray = {{hours}};
  const renderedPriceArray = {{prices}};

  new Chart(placeholder, {
    type: 'bar',
    data: {
      labels: renderedHourArray,
      datasets: [{
        label: 'tuntihinta',
        data: renderedPriceArray,
        borderWidth: 1
      }]
    },
    options: {
      scales: {
        y: {
          beginAtZero: true
        }
      }
    }
  });
</script>